name: Lambda Back-End CI/CD

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies & pytest
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Run tests
        run: pytest

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install SAM CLI
        run: pip install aws-sam-cli

      - uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::385704849308:role/cloud-resume-deploy-role
          aws-region: ap-southeast-2

      - name: Build and Deploy
        run: |
          sam build
          sam deploy --no-confirm-changeset --stack-name MyLambdaStack --capabilities CAPABILITY_IAM
